<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Suivi Stock</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
          {% if app.request.get('_route') == 'home' %}
            <a class="nav-link active" href="/">Accueil
          {% else %}
            <a class="nav-link" href="/">Accueil</a>
          {% endif %}
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            {% if app.request.get('_route') == 'pieces_show' %}
              <a class="nav-link active" href="/pieces">Pièces</a>
            {% else %}
              <a class="nav-link" href="/pieces">Pièces</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  